<div class="c-header_search_wrapper">
    <form class="c-header_form" action="/results" method="POST" >
        <input type="text" class="c-header_search" name="stock" placeholder="Search Stocks" />
        <button type="submit" class="c-header_search-button">
            <img class="c-header_search-icon" src="/static/search-solid.svg"/>
        </button>
    </form>
</div>