<header>
    <div class="c-header_container">
        <div class="c-header_lead">
            <h1 class="c-header_headline">
                <a href="/dashboard">
                    Stock-X
                </a>
            </h1>
        </div>
        <%- include search.ejs -%>
    </div>
</header>