.c-favorite {
    
    &_card {
        background: #fff;
        border-radius: 4px;
        margin: 1em .5em;
        cursor: pointer;

        .row {
            padding: .5rem;
        }

        &-headline {
            display: inline-block;
            font-size: 1.9rem;
        }
    
        &-name {
            display: block;
            font-size: .875rem;
            word-break: break-all;
        }
    
        &-stats {
            width: 100%;
            padding: 0 .5rem .5rem .5rem;
            background-color: #c0b8b8;
            color: #ffff;

            .row {
                margin: 0;
            }
        }

        &-price {
            display: block;
        }
        
        &-percent {
            display: block;
            font-size: 2.5rem;

        }

        &-subtitle {
            display: block;
        }

        &-half {
            text-align: center;
        }

        &-stat {

        }
    }
    
    &_column {
        min-height: 30vh;
        
    }

    &_add-circle {
        position: relative;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &_add-button {
        border: none;
        background: none;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width:100%;
            height: 100%;

            path {
                fill: chartreuse;
            }
        }
    }

    &_search-container {
        background: #a9a9a9;
        width: 80%;
        height: 80%;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;

        &.is-expanded {
           // float: none;

            .c-header_search_wrapper {

                .c-header_form {
                    position: relative;
                    width: 80%;
                    margin: 0 auto;
                }

                input {
                    width: 100%;
                    height: 100%;
                    transform: scale(1);
                }
            }
        }

    }

}
