.c-header {
    
    &_container {
        width: 100%;
        padding: 1.75em;
        padding: 1.75em 8em;
        margin-bottom: 2rem;
    }
    
    &_lead {
        width: 50%;
        display: inline-block;
    }

    &_headline {
        margin: 0;
        font-size: 2.125em;
        color: #fff;    
        font-family: helvetica;
    }

    &_headline a {
        margin: 0;
        color: #fff;
        text-decoration: none;
    }
    
    &_search { 

        border-radius: 20px;
        padding: 9px 0 7px 16px; 

        &_wrapper {
            position: relative;
        }

        &-button {
            background: none;
            border: none;
            width: 16px;
            position: absolute;
            right: 1em;
            top: 8px;
            color: gray;
            
        }

    }
    
}