

.l-search_container {
    width: 80%;
    margin: 0 auto;
}

.stock-stats-section {
    border-right: 1px #fff solid;
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
    padding: 1rem;
}

.stock-stats-section:last-of-type {
    border: none;
}

.results-alert {
    width: 100%;
}

.modal-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.stock-stat {
    display: block;
}

.stock-stat-header {
    font-weight: bold;
    display: block;
}

.modal-button-container {
    padding: 1.5rem;
}

.modal-button-container .btn {
    padding: 0.5rem 3rem;
}

.c-favorite-add-button {

}