.is-hidden {
    display: none;
}

.is-visible {
    display: block;
}

.is-expanded {
    //width: 100%!important;
    //height: 100%!important;
    //transform-origin: center;W
}

.is-expanded-2 {
    transform: translate(-50%, -50%) scale(1.1);

}

.flex-container {
    display: flex;
}